backports.zstd==1.2.0
biopython==1.86
Brotli==1.2.0
certifi==2025.11.12
charset-normalizer==3.4.4
getopts==1.0.5
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
joblib==1.5.3
lightgbm==3.3.5
llvmlite==0.46.0
numba==0.63.1
numpy==1.23.5
packaging==25.0
pandas==2.3.3
pip==25.3
pyarrow==22.0.0
PySocks==1.7.1
pysqlite3==0.5.4
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
rs3==0.0.18
scikit-learn==1.0.2
scipy==1.15.2
seqfold==0.9.0
setuptools==80.9.0
sglearn==1.2.5
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.3
urllib3==2.4.0
wheel==0.45.1
